# {{ ansible_managed }}
# See https://github.com/AcroMedia/ansible-role-nfs
{% for share_entry in nfs_shares %}
{{ share_entry.path }}{% for allowed_host in share_entry.allow_from %} {{ allowed_host }}({{ nfs_export_options }}){% endfor %}

{% endfor %}
